import time
import threading 
from pynput.mouse import button, Controller  
from pynput.keyboard Import Listener, KeyCode

delay - 0.0001
button - Botton.Left 
start_stop_key = KeyCode(char-'a') 
Stop_Key - KeyCode(char-'b') 

Class ClickMouse(threading.thread):  

def  _init_(self, decay
